//- block content
//-   h1 #{title}
//-   ul.list-group
//-     each ramens in user
//-       li.list-group-item
//-         a(href='/ramens/'+ramens.id)= ramens.email

extends ../layout

block content

    h1 All Ramens

    table.table
     
      tbody
      each ramens in ramen 
        tr
          a.list-group-item(href='/ramens/' + ramens.id)= ramens.Nom 
        form(action='/ramens/'+ ramens.id +'?_method=DELETE', method='POST')
          button(type='submit') Delete resource


        a(href='/ramens/'+ ramens.id + '/edit') 
            button.btn.btn-default Edit
    a(href='/ramens/add') New ramen