
extends ../layout

block content

  h1= isNew ? 'Create a user' : 'Update a user'
        
  form(action='/users', method='POST')

    .form-group
      label(for='firstName') firstName
      input#firstName.form-control(type='text', name='firstName')

    .form-group
      label(for='lastName') lastName
      textarea#lastName.form-control(name='lastName')

    .form-group
      label(for='email') email
      textarea#email.form-control(name='email')

    .form-group
      label(for='password') password
      textarea#email.form-control(name='password')

    input.btn.btn-default(type='submit', value='Create')
