extends ../layout

block content

  h1= isNew ? 'Create a user' : 'Update a user'
        
  form(action='/users', method='POST')

    .form-group
      label(for='firstName') Prénom
      input#firstName.form-control(type='text', name='firstName', required)

    .form-group
      label(for='lastName') Nom
      textarea#lastName.form-control(name='lastName', required)

    .form-group
      label(for='email') Adresse Mail
      textarea#email.form-control(name='email', required)

    .form-group
      label(for='password') Mot de passe
      input#email.form-control(name='password', required, type="password")

    input.btn.btn-default(type='submit', value='Create')
