//- block content
//-   h1 #{title}
//-   ul.list-group
//-     each users in user
//-       li.list-group-item
//-         a(href='/users/'+users.id)= users.email

extends ../layout

block content

    h1 All Users

    table.table
     
      tbody
      each users in user 
        tr
          a.list-group-item(href='/users/' + users.id)= users.email 
        form(action='/users/'+ users.id +'?_method=DELETE', method='POST')
          button(type='submit') Delete resource


        a(href='/users/'+ users.id + '/edit') 
            button.btn.btn-default Edit
    a(href='/users/add') New user